// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/StackArithmetic/StackTest/StackTest.vm

// Executes a sequence of arithmetic and logical operations
// on the stack. 
push constant 17  257
push constant 17  258
eq                257
push constant 17  258
push constant 16  259
eq                258
push constant 16  259
push constant 17  260
eq                259
push constant 892 260
push constant 891 261
lt                260
push constant 891 261
push constant 892 262
lt                261
push constant 891 262
push constant 891 263
lt                262
push constant 32767 263
push constant 32766 264
gt                  263
push constant 32766 264
push constant 32767 265
gt                  264
push constant 32766 265
push constant 32766 266
gt                  265
push constant 57  266
push constant 31  267
push constant 53  268
add               267
push constant 112 268
sub               267
neg               267
and               266
push constant 82  267
or                266
not               266
